/* Styles for BreadcrumbTrail component and children */

div.breadcrumb-trail {
  /* margin: 0.5em.5em 0.5em; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3em, 7em));
  background-color: var(--primary-colour);
  padding: 0.6em;
  border: 0.06em solid var(--secondary-colour);
  box-shadow: 0 0.25em 0.625em 0.125em var(--gray-shadow-rgba);
}

/* Give the first breadcrumb div more space on the left hand side */
.breadcrumb-trail div:first-child {
  padding-left: 0.3em;
}
div.crumb {
  min-width: 4em;
  padding: 0.2em 0.1em;
}

div.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

[aria-current="step"] {
  box-shadow: 0 0 1.25em 0 var(--orange-shadow-rgba);
  border: 0.0625em solid var(--gl-orange);
  border-radius: 0.1875em;
}

.breadcrumb p {
  padding: 0.01rem;
}
