/* Styles for SignUpPage and child components */

.block-label {
  display: block;
}

.block-input {
  display: block;
}

#instructions {
  color: var(--secondary-colour);
}

div.divider {
  /* border-top: 0.1rem solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.breadcrumb-trail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3em, 7em));
}

div.crumb {
  min-width: 4em;
  padding: 0.2em;
}

[aria-current="step"] {
  box-shadow: 0 0 20px 0 var(--orange-shadow-rgba);
  border: 1px solid var(--gl-orange);
  border-radius: 3px;
}

.breadcrumb p {
  padding: 0.01rem;
}
