/* Styles for SignUpPage and child components */

div.divider {
  /* border-top: 0.1rem solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.breadcrumb-trail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3em, 7em));
  background-color: var(--primary-colour);
}

div.crumb {
  min-width: 4em;
  padding: 0.2em;
}

[aria-current="step"] {
  box-shadow: 0 0 20px 0 var(--orange-shadow-rgba);
  border: 1px solid var(--gl-orange);
  border-radius: 3px;
}

.breadcrumb p {
  padding: 0.01rem;
}

button {
  background-color: var(--primary-colour);
  border-radius: 3px;
  box-shadow: 0 4px 10px 2px var(--gray-shadow-rgba);
}

h1 {
  background-color: var(--primary-colour);
}
h4 {
  /* Add a top margin to h4s for the inner pages*/
  margin-top: 0.5em;
}
.input-label {
  display: block;
  width: fit-content;
  color: var(--secondary-colour);
}

div.separator {
  border-top: 0.1rem solid var(--secondary-colour);
  margin: 1rem 0.3rem;
}

.block-input {
  display: block;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[aria-invalid="true"] {
  border-color: red;
}

.success {
  color: #436e43;
}

.error {
  color: #b22222;
}
/* Hide any elements visibly as well as for aria */
div.feedback-text[aria-hidden="true"] {
  /* display: none; */
  visibility: hidden;
}

/* Visibly show any elements shown for aria */
div.feedback-text[aria-hidden="false"] {
  /* display: block; */
  visibility: visible;
}
