/* CSS styles for the app header */
/* TODO: Rough size used for now - need to make this responsive */
.svg-logo-div {
  /* Is this working - or overridden by width in Logo <svg>? */
  /* Max width 100% */
  width: min(20rem, 100%);
  display: inline-flex;
}

.a11y-btns {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 0.5em;
  margin: 0.5em;
  font-size: var(--step--2);
}
img {
  /* Necessary hack for IE? */
  width: 100%;
}
.nav-bar {
  display: flex;
  justify-content: center;
}

/* TODO: extract theme colours to a base styles css file
            and create as custom properties */
ul.nav-list {
  padding: 0.5em;
  margin: 0.5em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  min-width: 99%;
  border-radius: 20px;
  display: flex;
  /* wrap along multiple lines if necessary */
  flex-wrap: wrap;
  /* center items vertically */
  align-items: center;
  box-shadow: 0 0.25em 0.625em 0.125em var(--gray-shadow-rgba);
}

/* Flex container child - move the free space to the left rather 
than default of right to move the item to the right hand side */
.align-right {
  margin-left: auto;
}
.nav-link {
  text-align: center;
  padding: 0.3rem;
}

a:link {
  color: var(--primary-color);
}

/* All links appear as visited already? */
a:visited {
  color: var(--primary-color);
}

/* Font awesome user logo */
.fa-user {
  color: var(--gl-orange);
  padding-right: 0.3rem;
}

/* For tablet sizes */
@media screen and (min-width: 768px) {
  ul.nav-list {
    min-width: 97%;
  }
}

/* Laptop screens */
@media screen and (min-width: 1024px) {
  ul.nav-list {
    min-width: 95%;
  }
}
