User html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.map-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 10px;
  gap: 0.5rem;
  background-color: black;
  /* height: 80vh; */
}

@media screen and (max-width: 500px) {
  .map-container {
    grid-template-columns: 1fr;
  }
  .controls-container {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
    /* max-height: 60vh;  */
  }
  .map-container1 {
    display: grid;
    grid-template-columns: 100%;
  }

  .map {
    width: 100% !important;
    height: 80vh;
  }
  .distance-container {
    margin-top: 10px;
    padding-top: 5px;
    overflow: scroll;
    color: white;
  }
}

.distance-container {
  overflow: scroll;
}

.controls-container {
  padding: 1rem;
  background: #14161a;
  color: #fff;
  height: 80vh;
  padding-bottom: 20px;
  overflow: scroll;
}

.controls input {
  border: none;
}

.map-container1 {
  height: 80vh;
  border: pink 3px solid;
  padding-bottom: 20px;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px pink;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.calMap-btn {
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
  background-color: pink;
  border-radius: 5px;
  color: black;
  height: 40px;
  width: 100%;
}

.calMap-btn:hover {
  color: pink;
  background-color: black;
  border-radius: 5px;
  border: pink 1px solid;
  box-shadow: 0 4px 8px 0 white(0, 0, 0, 0.2);
}

.instruction {
  margin: 0;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
}
