.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  margin-top: 20px;
  gap: 0.5rem;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .card-container {
    display: grid;
    grid-template-columns: 100%;
  }
}

.grid-even-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 1fr;
  justify-content: center;
  align-items: center;
  background-color: #344e41;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .grid-even-columns {
    grid-template-columns: 50%;
  }
}

.grid-one-columns {
  display: grid;
  place-items: center;
  background-color: #a3b18a;
}

.icon {
  text-align: center;
  color: pink;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fa-icon {
  padding: 2px;
}

.card-container {
  padding: 2px 16px;
  background-color: #a3b18a;
  color: white;
  text-align: center;
  justify-content: center;
}

h4,
.name {
  text-align: center;
  justify-content: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="submit"] {
  background-color: pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
