.landing-header {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-size: 2.5em;
  background-color: #a3b18a;
  margin-top: 0;
  color: pink;
  padding-top: 5px;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}
.name-header {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-size: 2.5em;
  background-color: #a3b18a;
  margin-top: 0;
  color: pink;
  padding-top: 5px;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.logo-container {
  display: flex;
  height: 30vh;
  background-color: #a3b18a;
}

.landing-text {
  background-color: #344e41;
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  border: 2px solid pink;
}

.landing-text h2 {
  font-size: 1.5em;
  padding-bottom: 0.125em;
  margin-bottom: 0.25em;
}

.landing-p {
  margin-left: 6.25em;
  margin-right: 6.25em;
}

@media screen and (max-width: 31.25em) {
  .landing-p {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.landing-hippo {
  font-size: 12.5em;
  display: flex;
  margin: auto;
  color: pink;
}

.fa-beer {
  font-size: 6.25em;
  display: flex;
  margin: auto;
}

.landing-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25em;
  background-color: #a3b18a;
}
@media screen and (max-width: 31.25em) {
  .landing-card-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
}

.landing-card-col {
  display: grid;
  justify-content: center;
}

.landing-card {
  width: 150px;
  margin: 1.25em 0px 1.25em 0px;
  padding-bottom: 5px;
  display: grid;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.313em;
}

.landing-card-text,
.landing-card-header {
  margin: auto;
  margin-top: 0.625em;
  padding: 0.125em;
  text-align: center;
  padding-bottom: 0.938em;
}

.landing-card:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
}

.info {
  /* padding-top: 5px; */
  padding: 0.313;
}
