.landing-header {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-size: 30px;
}

.logo-container {
  display: flex;
  height: 30vh;
}

.landing-text {
  display: flex;

  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing-p {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 500px) {
  .landing-p {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.fa-hippo {
  font-size: 200px;
  display: flex;
  margin: auto;
}

.landing-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.landing-card1 {
  display: grid;
  height: 150px;
}

.landing-card2 {
  display: grid;
  height: 170px;
}

.landing-card3 {
  display: grid;
  height: 150px;
}
