nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #344e41;
  margin-bottom: 50px;
}

.list {
  list-style-type: none;
  background-color: #344e41;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin-bottom: 50px; */
}

.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(225, 225, 225, 0.555);
    margin-top: 50px;
  }
  .items {
    width: 120%;
    border-top: 1px solid rgba(225, 225, 225, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
  }
}

@media screen and (max-width: 539px) {
  .containerN {
    margin-bottom: 50px !important;
  }
  /* .container-card {
        margin-top: 30px;
      } */
}

/* @media screen and (max-width: 540px) {
  .containerN {
    margin-bottom: 65px !important;
  }
  .container-card {
    margin-top: 30px;
  }
} */

.containerN {
  margin-bottom: 65px;
}

nav {
  margin-bottom: -65px;
}

@media screen and (max-width: 540px) {
  nav {
    margin-bottom: -50px;
  }
}
