nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3.125em;
  background-color: #344e41;
  margin-bottom: 3.125em;
}

.list {
  list-style-type: none;
  background-color: #344e41;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin-bottom: 50px; */
}

.items {
  margin-right: 1.25em;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.btn {
  display: none;
  position: absolute;
  right: 0.625em;
  top: 0.438em;
  padding: 0.313em;
  color: #000;
  font-size: 1.125em;
}

@media screen and (max-width: 31.25em) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(225, 225, 225, 0.555);
    margin-top: 3.125em;
  }
  .items {
    width: 120%;
    border-top: 1px solid rgba(225, 225, 225, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
  }
}

@media screen and (max-width: 33.688em) {
  .containerN {
    margin-bottom: 50px !important;
  }
  /* .container-card {
        margin-top: 30px;
      } */
}

/* @media screen and (max-width: 540px) {
  .containerN {
    margin-bottom: 65px !important;
  }
  .container-card {
    margin-top: 30px;
  }
} */

.containerN {
  margin-bottom: 4.063em;
}

nav {
  margin-bottom: -4.063em;
}

@media screen and (max-width: 33.75) {
  nav {
    margin-bottom: -3.125em;
  }
}
