/* Base styles for the whole app */

/* NOTE: For WCAG AA - ensure a contrast of 4.5:1 minimum */
/* Don't forget - design for mobile first and then scale UP in media queries */

/* define custom properties for our theme colours */
:root {
  --primary-colour: white;
  --secondary-colour: black;
  --gray-shadow-rgba: rgba(7, 7, 7, 0.29);
  --orange-shadow-rgba: rgba(244, 95, 26, 0.85);
  --gl-orange: #f45f1a;
  /* font-size: 100% is set by reset.css
  this helps us to use rem units to
  set relative sizes for other text 
  100% for browsers typically defaults to 16px */

  /* Use this to convert from rem */
  --base-pixels: 16;
  --pixels: 16;
  /* Pixel to rem calc */
  /* --font-size: calc((var(--pixels) / var(--base-pixels)) * 1rem); */
}

/* Div container for page content */
div.main-container {
  border-radius: 5px;
  border: 0.1rem dashed var(--secondary-colour);
  background-color: var(--primary-colour);
  /* width will be AT MOST 200rem wide but will be smaller if viewport is smaller */
  width: min(90%, 200rem);
  /* Right and left margin */
  margin-inline: auto;
  /* 1st value = top and bottom, 2nd = right and left */
  padding: 1.5rem max(3vh, 0.5rem);
  display: flex;
  justify-content: center;
}

/* Relative - not absolute sizes for headings
and also classes which can be used to size the text
without affecting the semantics of the page - A11y! */
h1,
h1.style {
  --pixels: 20;
  /* this is equivalent to 25px if root is 16px */
  /* font-size: 1.5625rem; */
  font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
}

h2,
h2.style {
  --pixels: 16;
  font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
}

h3,
h3.style {
  --pixels: 14;
  font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
  font-weight: bold;
}

/* As this text is smaller - increase the weight to balance
the contrast */
h4,
.h4-style {
  --pixels: 14;
  font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
  font-weight: 600;
}

/* For tablet sizes */
@media screen and (min-width: 768px) {
  /*  */
  h1,
  h1.style {
    --pixels: 25;
    /* this is equivalent to 25px if root is 16px */
    /* font-size: 1.5625rem; */
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
  }

  h2,
  h2.style {
    --pixels: 20;
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
  }

  h3,
  h3.style {
    --pixels: 16;
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
    font-weight: bold;
  }

  /* As this text is smaller - increase the weight to balance
  the contrast */
  h4,
  .h4-style {
    --pixels: 14;
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
    font-weight: 600;
  }
}

/* laptop screens */
/* @media screen and (min-width: 1024px) {
} */

/* Larger Laptop screens */
/* @media screen and (min-width: 1366px) {
}  */

/* Desktops */
@media screen and (min-width: 1920px) {
  /*  */
  h1,
  h1.style {
    --pixels: 48;
    /* this is equivalent to 25px if root is 16px */
    /* font-size: 1.5625rem; */
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
  }

  h2,
  h2.style {
    --pixels: 32;
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
  }

  h3,
  h3.style {
    --pixels: 24;
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
    font-weight: bold;
  }

  /* As this text is smaller - increase the weight to balance
                the contrast */
  h4,
  .h4-style {
    --pixels: 18;
    font-size: calc(var(--pixels) / var(--base-pixels) * 1rem);
    font-weight: 600;
  }

  div.main-container {
    width: 80%;
    padding: 4rem;
  }
}
