/* Base styles for the whole app */

/* NOTE: For WCAG AA - ensure a contrast of 4.5:1 minimum */
/* Don't forget - design for mobile first and then scale UP in media queries */

/* define custom properties for our theme colours */
:root {
  --primary-colour: white;
  --secondary-colour: black;
  --gray-shadow-rgba: rgba(7, 7, 7, 0.29);
  --orange-shadow-rgba: rgba(244, 95, 26, 0.85);
  --gl-orange: #f45f1a;
  /* this helps us to use rem units to set relative sizes for other text
  100% for browsers typically defaults to 16px */
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1920,17,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.53rem, calc(0.73rem + -0.16vw), 0.69rem);
  --step--1: clamp(0.75rem, calc(0.85rem + -0.08vw), 0.83rem);
  --step-0: clamp(1rem, calc(0.99rem + 0.06vw), 1.06rem);
  --step-1: clamp(1.2rem, calc(1.14rem + 0.3vw), 1.5rem);
  --step-2: clamp(1.44rem, calc(1.3rem + 0.68vw), 2.12rem);
  --step-3: clamp(1.73rem, calc(1.47rem + 1.28vw), 3rem);
  --step-4: clamp(2.07rem, calc(1.64rem + 2.17vw), 4.25rem);
  --step-5: clamp(2.49rem, calc(1.78rem + 3.52vw), 6.01rem);
}

header {
  margin-bottom: max(3vh, 2rem);
}
main {
  /* Background */
  /* background-color: var(--secondary-colour); */
  background-image: url("./assets/circult_board_busy.jpeg");
  background-repeat: repeat;
  /* opacity: 0.1; */
  width: 100%;
}
/* Div container for page content */
div.main-container {
  border-radius: 5px;
  border: 0.1rem dashed var(--secondary-colour);
  background-color: var(--primary-colour);
  /* width will be AT MOST 200rem wide but will be smaller if viewport is smaller */
  width: min(90%, 200rem);
  /* Right and left margin */
  margin-inline: auto;
  /* 1st value = top and bottom, 2nd = right and left */
  padding: 0px max(3vh, 0.5rem) 2rem;
  /* display: flex; */
  justify-content: center;
}

/* Relative - not absolute sizes for headings
and also classes which can be used to size the text
without affecting the semantics of the page - A11y! */
h1,
.h1-style {
  font-size: var(--step-4);
}

h2,
.h2-style {
  font-size: var(--step-3);
}

h3,
.h3-style {
  font-size: var(--step-2);
}

/* As this text is smaller - increase the weight to balance
the contrast */
h4,
.h4-style {
  font-size: var(--step-1);
  font-weight: bold;
}

h5,
.h5-style {
  font-size: var(--step-0);
  font-weight: 600;
}
body {
  font-size: var(--step-0);
}
